@import url("./profiloAdmin.css");
form{
  display: flex;
  justify-content: space-evenly; 
}
.chose{
    text-align: center;
}

form .field input{
    height: 100%;
    width: 65px;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    border: 1px solid var(--primary-dark);
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}
form .field input:focus{
    border-color: #9E2A2B;
  }